.*~
.vscode/c_cpp_properties.json
.vscode/ipch/*
.vscode/launch.json
.vscode/settings.json
*.o
*.rz
*.ctl
*.tbl
*.bin
*.elf
*.raw
*.seg
*.tmp
*.elf
*.z64
roms/*.z64
/.vs
021990.bin
0219D0.bin
assets/animationtable_data.bin
assets/animationtable_entries.bin
assets/font/*.bin
assets/ge007.j.118660.jfont_chardata.bin
assets/ge007.u.117880.jfont_dl.bin
assets/ge007.u.117940.jfont_chardata.bin
assets/ge007.u.123040.efont_chardata.bin
assets/ge007.u.29D160.Globalimagetable.bin
assets/ge007.u.29E560.Globalimagetable_commandblock.bin
assets/ge007.u.2A4D50.usedby7F008DE4.bin
assets/images/split/*.bin
assets/music/*.bin
assets/music/*.ctl
assets/music/*.tbl
assets/obseg/bg/*.bin
assets/obseg/chr/*.bin
assets/obseg/gun/*.bin
assets/obseg/ob__ob_end.seg
assets/obseg/prop/*.bin
assets/obseg/setup/*.bin
assets/obseg/setup/europe/*.bin
assets/obseg/setup/japan/*.bin
assets/obseg/setup/usa/*.bin
assets/obseg/stan/*.bin
assets/obseg/text/*.bin
assets/obseg/text/europe/*.bin
assets/obseg/text/japan/*.bin
assets/obseg/text/usa/*.bin
assets/ramrom/*.bin
build/*
data_seg
lib/libultra_rom.a
bazel-*
